<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tacdis Deluxe 5.0</title>
    <script src="https://use.fontawesome.com/2389a26a6e.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/ng-table.min.js"></script>
    @Scripts.Render("~/bundles/custom")


    <script src="~/Scripts/App/Factories/AuthService.js"></script>
    <script src="~/Scripts/App/Factories/AuthInterceptorService.js"></script>
    <script src="~/Scripts/App/Controllers/Layout/LayoutController.js"></script>
    <script src="~/Scripts/App/Factories/IsAuthFactory.js"></script>
    <script src="~/Scripts/global.js"></script>
    <script src="~/Scripts/App/Directives/Vehicle/NewVehicleDirective.js"></script>
    <script src="~/Scripts/App/Controllers/ChatController.js"></script>
    <link href="~/Content/Custom.css" rel="stylesheet" />

    @{
        var controller = ViewContext.RouteData.Values["controller"].ToString();
        string navPartsCss = controller.ToLower() == "parts" ? "nav-active" : "";
        string navSalesCss = controller.ToLower() == "sales" ? "nav-active" : "";
        string navVehicleCss = controller.ToLower() == "vehicle" ? "nav-active" : "";
        string navWorkOrderCss = controller.ToLower() == "workorder" ? "nav-active" : "";
        string navInvoiceCss = controller.ToLower() == "invoice" ? "nav-active" : "";
    }

</head>
<body ng-app="tacdisDeluxeApp" ng-controller="LayoutController" ng-init="checkUser()" id="appcontainer" style="padding-bottom: 0px">
    <div id="__ajaxFeedbackMessage" class="alert alert-dismissable">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span class="message-level glyphicon"></span> <span class="message-text"></span>
    </div>

    <div class="navbar navbar-default navbar-fixed-top navbar-custom" ng-show="auth.isAuth" ng-cloak>
        <div class="container-fluid">
            <div class="col-md-2 nav-logo">
                <a href="/"><img src="~/Images/tacdis.png" /></a>
            </div>
            <div class="col-md-10">
                <ul class="nav navbar-nav navbar-nav-custom">
                    <li class="@navPartsCss">@Html.ActionLink("Parts", "Index", "Parts")<div class="mark-active"></div></li>
                    <li class="@navSalesCss">@Html.ActionLink("Sales", "Index", "Sales")<div class="mark-active"></div></li>
                    <li class="@navVehicleCss">@Html.ActionLink("Vehicle", "Index", "Vehicle")<div class="mark-active"></div></li>
                    <li class="@navWorkOrderCss">@Html.ActionLink("Work order", "Index", "WorkOrder")<div class="mark-active"></div></li>
                    <li class="@navInvoiceCss">@Html.ActionLink("Invoice", "Index", "Invoice")<div class="mark-active"></div></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="logOut()"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>

                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content" ng-show="auth.isAuth">
        @RenderBody()
    </div>
    <div style="bottom: 0; left: 0; position: fixed" ng-controller="chatcontroller">
        <div class="panel panel-primary" style="width: 287.71px; height: 250px; margin-bottom: 0px">


            <div class=" panel-heading" style="height: 15%; padding-top: 4px">
                Username
                <button class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#chatmodal">
                    <span class="glyphicon glyphicon-user"></span>
                </button>
            </div>

            <div class="panel-body" style="height: 65%; padding: 0px; overflow-y: auto" id="chatcontainer" ng-init="initialize()">

            </div>

            <div class="panel-footer" style="height: 50px;">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="message">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit" ng-click="appendChatElement('self', 'Tjenare jeppe! Tjenare jeppe! Tjenare jeppe!')">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>



    </div>

    <div class="modal fade" id="chatmodal" role="dialog" ng-controller="chatcontroller">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select chat-member</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group" style="max-width: 280px;">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <select>
                        <option>Kalle</option>
                        <option>Johan</option>
                        <option>Jesper</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="container body-content" ng-show="!auth.isAuth">
        Redirecting to login page!!!!!!!!!!
    </div>

    @RenderSection("scripts", required: false)


</body>

</html>
